@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

$background: #EEE8D6;
$text-color: #022933; 
$darkbule:   #001e25;
$red:        #F25C43;
$blue:       #0078A3;
$yellow:     rgb(163,139,0);
$grey:       rgb(109, 106, 103);
$darkgrey:   rgb(63, 62, 60);
$orange:     rgb(240, 99, 22);
$white:      rgb(234, 237, 246);
$links:      black;
$font-body:   'Hepta Slab';
$font-headings: 'Oswald';